body {
    font-family:Courier New, Courier, monospace;
    background-color: #A9D2E5
}

.section {
    width: 100%;
}
.box {
    color: #B8336A;
    font-size: 2em;
}

.first-box {
    background-color: #67597A;
}

.second-box {
    background-color: #544E61;
    text-align: center;
}
.third-box {
    background-color: plum;
}
.row {
    height: 800px;
    background-color: lightcyan;
}

p {
    font-size: 20px;
}

.musicPlayer {
    background-color: #67597A;

    border-style: outset;
    border-width: 10px;
    border-radius: 3px;
    margin: 100px;
}

.button {
    border-style: ridge;
    border-color: #A9D2E5;
    border-width: 10px;
    background-color: #A9D2E5;
}

.label {
    background-color: #A9D2E5
}

td {
    border-style: outset;
    border-width: 2px;
}

.note1 {
    background-color: #A9D2E5;
    width: 10px;
    height: 10px
}

.note0 {
    background-color: #544E61;
    width: 10px;
    height: 10px;

}